<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Vakansiya | Grafik dizayner kerak! | W.Corp</title>
</head>

<body>
    <header>
        <div class="section-wrapp">
            <div class="container educenter advanced">
                <img class="educenter-bg_img" src="./assets/img/places/najot te'lim.png" alt="">
                <div class="educenter-top">
                    <a href="/" class="general-back_link"><i class="fa-regular fa-angle-left"></i></a>
                    <img class="educenter-pfp-img" src="./assets/img/edu centers/najot talim.png" alt="">
                    <h1 class="educenter-name">Najot Ta'lim</h1>
                    <p class="educenter-location"><i class="fa-regular fa-location-dot"></i> Farg'ona - Toshkent</p>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="section-wrapp">
            <div class="container mid">
                <div class="course-heading_wrapper">
                    <h1 class="course-heading">O'quv markazi - Front-end</h1>
                    <span class="course-filter">
                        <i class="fa-solid fa-bars-sort"></i>
                    </span>
                </div>

                <div class="course-student_loop">
                    <div class="course-student_item">
                        <img src="" alt="">
                        <div class="course-student_info">
                            <div class="course-student_name"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<script src="./assets/js/main.js"></script>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>

</html>