<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>EduCenter | Najot Ta'lim | W.Corp</title>
</head>

<body>
    <header>
        <div class="section-wrapp">
            <div class="container educenter advanced">
                <img class="educenter-bg_img" src="./assets/img/places/najot te'lim.png" alt="">
                <div class="educenter-top">
                    <a href="/" class="general-back_link"><i class="fa-regular fa-angle-left"></i></a>
                    <img class="educenter-pfp-img" src="./assets/img/edu centers/najot talim.png" alt="">
                    <h1 class="educenter-name">Najot Ta'lim</h1>
                    <p class="educenter-location"><i class="fa-regular fa-location-dot"></i> Farg'ona - Toshkent</p>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="section-wrapp">
            <div class="container educenter mid">
                <div class="educenter-top_filter">
                    <div class="educenter-left educenter-side active">
                        O'quv kurslari
                    </div>
                    <div class="educenter-right educenter-side">
                        Vakansiyalar
                    </div>
                    <div class="educenter-line"></div>
                </div>
                <div class="educenter-course-loop side_loop">
                    <a href="/" class="educenter-course-item" data-aos="fade-up">
                        <img src="./assets/img/sam-user-pfp.png" alt="">
                        <div class="educenter-course_info">
                            <p class="educenter-course_name">Front-End Developerlar</p>
                            <p class="educenter-course_quantity">O'quvchilar soni: 45</p>
                        </div>
                    </a>

                    <a href="/" class="educenter-course-item" data-aos="fade-up">
                        <img src="./assets/img/naz-user-pfp.png" alt="">
                        <div class="educenter-course_info">
                            <p class="educenter-course_name">Back-End Developerlar</p>
                            <p class="educenter-course_quantity">O'quvchilar soni: 45</p>
                        </div>
                    </a>

                    <a href="/" class="educenter-course-item" data-aos="fade-up">
                        <img src="./assets/img/fes-user-pfp.png" alt="">
                        <div class="educenter-course_info">
                            <p class="educenter-course_name">Dizaynerlar</p>
                            <p class="educenter-course_quantity">O'quvchilar soni: 45</p>
                        </div>
                    </a>

                    <a href="/" class="educenter-course-item" data-aos="fade-up">
                        <img src="./assets/img/rui-user-pfp.png" alt="">
                        <div class="educenter-course_info">
                            <p class="educenter-course_name">Bot developerlar</p>
                            <p class="educenter-course_quantity">O'quvchilar soni: 45</p>
                        </div>
                    </a>
                </div>
                <div class="vacancies_loop side_loop closed-loop">
                    <div class="vacancies-item" data-aos="fade-up">
                        <div class="vacancy-item_right">
                            <img src="./assets/img/edu centers/najot talim.png" alt="">
                        </div>
                        <div class="vacancy-item_left">
                            <h1 class="vacancy-company_name">Najot Ta'lim</h1>
                            <p class="vacancy-title vacancy-info">Python dasturchi kerak!</p>
                            <p class="vacancy-experience vacancy-info">Tajriba: 2 yil</p>
                            <p class="vacancy-age vacancy-info">Yoshi: 20+</p>
                            <p class="vacancy-tech vacancy-info">Texnologiyalar: Django,<a
                                    href="./vacancy-detail.html">...</a></p>
                            <p class="vacancy-link vacancy-info"><a href="./vacancy-detail.html">Ko'rish</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<script src="./assets/js/main.js"></script>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>

</html>