<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Starting | W.Corp</title>
</head>

<body>
    <header>
        <div class="section-wrapp">
            <div class="container">
                <div class="header-wrapp">
                    <a href="/" class="logo">
                        <img src="./assets/img/logo.svg" alt="">
                    </a>

                    <div class="login-img">
                        <img src="./assets/img/login-a.svg" alt="">
                        <p>Keling, biz bilan "A" ni topaylik</p>
                    </div>

                    <div class="login-auth">
                        <p class="login-auth_info">Biz bilan o’zingizga mos ish/hodim toping!</p>

                        <a href="./auth/login.html" class="login-auth_link_btn">Kirish</a>

                        <a href="./auth/register.html" class="login-auth_link">Royxatdan otish</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>

</html>