<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Vakansiya | Grafik dizayner kerak! | W.Corp</title>
</head>

<body>
    <header>
        <div class="section-wrapp">
            <div class="container educenter advanced">
                <img class="educenter-bg_img" src="./assets/img/places/najot te'lim.png" alt="">
                <div class="educenter-top">
                    <a href="/" class="general-back_link"><i class="fa-regular fa-angle-left"></i></a>
                    <img class="educenter-pfp-img" src="./assets/img/edu centers/najot talim.png" alt="">
                    <h1 class="educenter-name">Najot Ta'lim</h1>
                    <p class="educenter-location"><i class="fa-regular fa-location-dot"></i> Farg'ona - Toshkent</p>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="section-wrapp">
            <div class="container mid">
                <h1 class="vacancy-heading">Vakansiya: <span>Python dasturchi</span></h1>
                <div class="vacancy-block">
                    <h1 class="vacancy-block_heading">Sizni kutadigan vazifalar</h1>
                    <p class="vacancy-block_info">
                        — Arxitekturani yaratish va mahsulot funksiyalarini ishlab chiqish. <br>
                        — Qimmatli texnik masalalarni o'rnating. <br>
                        — Asosiy texnik qarorlarni yana qabul qilish. <br>
                        — Tarmoq, ishlab chiqish asboblari va jismoniy ko'rinishlarni rivojlanish.
                    </p>
                </div>

                <div class="vacancy-block">
                    <h1 class="vacancy-block_heading">Biz sizdan kutmoqdamiz</h1>
                    <p class="vacancy-block_info">
                        — Python yoki Go da kommersiyaviy ishlash uchun uch yildan ortiq va yoki boshqa tillardan ularga
                        o'tkazib ketmoqchi bolsangiz. <br>
                        — Klassik algoritmlar va ma'lumotlar strukturasi bilasiz. <br>
                        — Tizimlarni dizayn qilishni bilasiz.
                    </p>
                </div>

                <div class="vacancy-block">
                    <h1 class="vacancy-block_heading">Biz sizdan kutmoqdamiz</h1>
                    <p class="vacancy-block_info">
                        — Yaxshi kompyuterlar: MacBook Pro, Dell na Windows yoki Linux operatsion tizimlari bilan
                        o'tkazib ketgan kuchli noutbuk yoki zarur resurslar bilan ajratilgan virtual mashina. <br>
                        — Katta hajmli DMS polisi: dantologiya, ko'zni tiklash, har haftalik tekshirish va kritik
                        mashg'ulotlar (onkologiya, dil bemorliklar) kasb haydovchi kursatkichlari bilan. <br>
                    </p>
                </div>

                <form action="" class="vacancy-form">
                    <button type="submit">Ariza jo'natish</button>
                </form>
            </div>
        </div>
    </main>
</body>
<script src="./assets/js/main.js"></script>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>

</html>