<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Register | W.Corp</title>
</head>

<body>
    <header>
        <div class="login-section-wrapp">
            <div class="container">
                <div class="header-wrapp">
                    <a href="/" class="logo">
                        <img src="../assets/img/logo.svg" alt="">
                    </a>

                    <div class="login-img">
                        <img src="../assets/img/login-2.svg" alt="">
                    </div>

                    <div class="login-auth">

                        <form action="" class="auth-form">
                            <div class="auth-item">
                                <label for="id_email">Email</label>
                                <input type="text" id="id_email">
                            </div>

                            <div class="auth-item">
                                <label for="id_username">Username</label>
                                <input type="text" id="id_username">
                            </div>

                            <div class="auth-item">
                                <label for="id_password">Password</label>
                                <input type="password" id="id_password">
                                <span class="password_shower"><i class="fa-solid fa-eye"></i></span>
                            </div>

                            <div class="auth-item">
                                <label for="id_password">Password</label>
                                <input type="password" id="id_password">
                                <span class="password_shower"><i class="fa-solid fa-eye"></i></span>
                            </div>
                        </form>

                        <a href="./auth/login.html" class="login-auth_link_btn">Kirish</a>
                        <a href="./register.html" class="login-auth_link">Royxatdan otish</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
<script src="../assets/js/main.js"></script>

</html>